footer {
    background-color: rgb(28, 28, 28);
    color: #FFFFFF;
    font-size: 18px;
    line-height: 1.6;
  }
  
  footer .footer {
    width: 100%;
  }

  footer .footer > div {
    margin: auto;
    max-width: 1400px;
    padding: 40px 24px;
  }

  footer .footer .default-content-wrapper {
    display: block;
  }
  
  footer .footer p {
    margin: 0 0 50px;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 1.5;
  }

  footer .footer a {
    color: #FFFFFF;
    text-decoration: underline;
  }

  footer .footer a:hover {
    text-decoration: none;
  }

  /* All images in footer */
  footer .footer img {
    display: block;
    height: auto;
  }

  /* Target first 3 paragraphs as top section */
  footer .footer .default-content-wrapper > p:nth-of-type(1),
  footer .footer .default-content-wrapper > p:nth-of-type(2),
  footer .footer .default-content-wrapper > p:nth-of-type(3) {
    margin-bottom: 24px;
  }

  /* Lokelma logo */
  footer .footer .default-content-wrapper > p:nth-of-type(1) img {
    max-width: 200px;
    margin-bottom: 24px;
  }

  /* Trademark text */
  footer .footer .default-content-wrapper > p:nth-of-type(2) {
    font-size: 18px;
    line-height: 1.4;
  }

  /* CA code with border */
  footer .footer .default-content-wrapper > p:nth-of-type(3) {
    font-size: 18px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 2px solid white;
  }

  /* AstraZeneca logo */
  footer .footer .default-content-wrapper > p:nth-of-type(4) img {
    max-width: 200px;
    margin-bottom: 20px;
  }

  /* Footer navigation */
  footer .footer ul {
    list-style: none;
    padding: 0;
    margin: 0 0 24px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  footer .footer ul li {
    margin: 0;
  }

  footer .footer ul li a {
    color: #FFFFFF;
    text-decoration: underline;
    font-size: 18px;
  }

  footer .footer ul li a:hover {
    text-decoration: none;
  }

  /* Copyright and final text */
  footer .footer .default-content-wrapper > p:nth-of-type(5),
  footer .footer .default-content-wrapper > p:nth-of-type(6) {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 8px;
  }

  footer .footer .default-content-wrapper > p:nth-of-type(6) {
    margin-bottom: 0;
  }

  /* Tablet and Desktop */
  @media (width >= 900px) {
    footer .footer > div {
      padding: 50px 32px;
    }

    /* Bottom section layout - logo left, links right */
    footer .footer .default-content-wrapper > p:nth-of-type(4) {
      display: inline-block;
      vertical-align: top;
      width: 200px;
    }

    footer .footer ul {
      display: inline-flex;
      flex-direction: row;
      gap: 12px 32px;
      flex-wrap: wrap;
      vertical-align: top;
      max-width: calc(100% - 220px);
      margin-left: 20px;
    }

    /* Copyright and trademark full width below */
    footer .footer .default-content-wrapper > p:nth-of-type(5),
    footer .footer .default-content-wrapper > p:nth-of-type(6) {
      display: block;
      clear: both;
      margin-top: 25px;
    }

    footer .footer .default-content-wrapper > p:nth-of-type(6) {
      margin-top: 8px;
    }
  }

  /* Large Desktop */
  @media (width >= 1200px) {
    footer .footer > div {
      padding: 60px 40px;
      max-width: 1440px;
    }

    footer .footer ul {
      float: right;
      margin: 0;
      max-width: 600px;
    }

    footer .footer .default-content-wrapper > p:nth-of-type(4) {
      float: left;
    }
  }